<c-sidebar
  #aside1="cSidebar"
  class="d-print-none hide border-start"
  colorScheme="light"
  id="aside1"
  overlaid
  placement="end"
  size="lg"
>
  <!--aside-header -->
  <c-sidebar-header class="bg-transparent position-relative">
    <!--aside toggler-->
    <button
      cButtonClose
      cSidebarToggle="aside1"
      class="float-end end-0 my-0 top-50 position-absolute translate-middle"
      toggle="visible"
      aria-label="Close aside"
    ></button>
  </c-sidebar-header>
</c-sidebar>
